<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <title>TicTacChess</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/2cf2b179fe.js" crossorigin="anonymous"></script>
    <script src="/js/profile.js"></script>
    <script type="module" src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
</head>