<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username} + '\'s profile'"></title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/2cf2b179fe.js" crossorigin="anonymous"></script>
</head>
<body>
    <header th:replace="~{fragments/header.html :: headerFragment}">
    </header>
    <main>
        <div class="container mt-5">
            <div class="card" style="color: black;">
                <div class="card-body">
                    <h5 class="card-title">Username: <span id="username" th:text="${user.username}"></span></h5>
                    <p class="card-text">User Role: <span id="userRole" th:text="${user.role}"></span></p>
                    <p class="card-text">Created At: <span id="createdAt" th:text="${user.createdAt}"></span></p>
                    <button th:if="${userToShowDeclinedRequest}" class="btn btn-info">Your friend request was declined! Wait at least 24 hours before sending another request.</button>
                    <button th:if="${userToSeeDeclinedRequest}" class="btn btn-info">You declined their request! Wait at least 24 hours before sending a request.</button>
                    <button th:if="${requester == null && recipient == null && userToShowDeclinedRequest == null && userToSeeDeclinedRequest == null}" id="addFriendBtn" class="btn btn-primary">Add Friend</button>
                    <span th:if="${requester}">
                        <button id="requestSentBtn" class="btn btn-secondary">Friend request sent</button>
                    </span>

                    <span th:if="${recipient}">
                        <button id="acceptFriendBtn" class="btn btn-success">Accept friend request</button>
                        <button id="declineFriendBtn" class="btn btn-danger">Decline friend request</button>
                    </span>


                </div>
            </div>
        </div>
    </main>
    <script src="/js/addFriend.js"></script>
    <script src="/js/acceptOrDeclineFriend.js"></script>
</body>
</html>